/* ========== "*" = Memilih seluruh selector ========== */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



/* ========== VARIABEL WARNA ========== */
:root {
    --color-primary: #0D28A6;
    --color-success: #5CB85F;
    --color-warning: #F9CC00;
    --color-danger: #FA2C5A;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-bg-up: #F1F3FF; 
    --color-border1: #D0D0D0;
    --color-border2: #D4D4D4;
}
/* ========== AKHIR VARIABEL WARNA ========== */



body{
    font-family: 'Helvetica', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1{
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.375rem;
}

h2{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

p{
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.25rem;
}


/* ========== PENGATURAN BUTTON DI NAVBAR ========== */
.btn {
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-black);
    padding: 0.5rem 0.75rem;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 0.875rem;
}

.btn:hover {
    background: transparent;
    color: var(--color-black);
    border-color: var(--color-black);
}

.btn-primary {
    background: var(--color-success);
    color: var(--color-white);
    border-radius: 2px;
}
/* ========== AKHIR PENGATURAN BUTTON DI NAVBAR ========== */


 
/* ========== NAVBAR ========== */
nav {
    background: var(--color-bg-up);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav__container{
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 400;
    font-size: 0.875rem;
}

li a {
    color: var(--color-black);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
/* ========== AKHIR NAVBAR ========== */



/* ========== HEADER ========== */
header {
    background: var(--color-bg-up);
    margin-top: 5rem;
    margin-bottom: 6.5rem;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem;
}

.header__kiri h1 {
    margin-bottom: 1rem;
}

.header__kiri p {
    margin-bottom: 1rem;
}

.header__kanan-gambar img{
    width: 44rem;
    height: 25rem;
    margin-top: 80px;
    margin-right:-130px;
    margin-bottom:-4px;
}
/* ========== AKHIR HEADER ========== */



/* ========== SERVICE ========== */
.services {
    margin-bottom: 6.25rem;
}

.services__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4.5rem;
}

.services__kiri {
    margin-right: 5rem;
}

.services__kanan h2 {
    margin-bottom: 1.5rem;
}

.services__kanan p {
    margin-bottom: 1.125rem;
}

.services__menu li {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.services__menu li img {
    padding: 5px;
}

.services__menu li span {
    position: relative;
    z-index: 10;
    bottom: 0.8rem;
}
/* ========== AKHIR SERVICE ========== */



/* ========== WHY US ========== */
.WhyUS {
    margin-bottom: 6.25rem;
}

.whyus__container h2 {
    margin-bottom: 1rem;
}

.whyus__container p {
    margin-bottom: 2.5rem;
}

.whyus__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.whyus__card h4 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
}

.keunggulan {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 1px solid;
    border-radius: 0.5rem;
    border-color: var(--color-border1);
}

.keunggulan h4 {
    margin: 1rem 0 1rem;
}

.keunggulan p {
    margin-bottom: 1.5rem
}
/* ========== AKHIR WHY US ========== */



/* ========== TESTIMONIAL ========== */
.testimonials__container{
    margin-bottom: 6.25rem;
}

.judul {
    text-align: center;
}

.review {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.testimonial__pelanggan {
    background: var(--color-bg-up);
    box-shadow:  0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 0;
    margin-left: 0;
}

.testimonial__pelanggan p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
/* ========== AKHIR TESTIMONIAL ========== */



/* ========== SEWA MOBIL ========== */
.SewaMobil {
    margin: 0 8.5rem;
    background: var(--color-primary);
    padding: 5rem 10rem;
    border-radius: 0.8rem;
    text-align: center;
}

.sewamobil__container p {
    padding-top: 1rem;
    color: var(--color-white);
}

.sewamobil__container h1 {
    color: var(--color-white);
}

.sewamobil__container a {
    margin-top: 3.25rem;
}
/* ========== AKHIR SEWA MOBIL ========== */



/* ========== FAQ ========== */
.FAQS {
    margin-top: 6.25rem;
}

.faqs__container {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 9.75rem;
}

.faqs__kiri h2 {
    margin-bottom: 1rem;
}

.faqs {
    padding: 1.125rem;
    display: flex;
    align-items: center;
    height: fit-content;
    border: 1px solid;
    border-color: var(--color-border2);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.jawab p {
    display: none;
}
/* ========== AKHIR FAQ ========== */



/* ========== FOOTER ========== */
footer{
    padding-top: 7rem;
    padding-bottom: 6.25rem;
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 6rem;
}

.footer__1 p {
    margin-bottom: 1rem;
}

.footer__2 li {
    margin-bottom: 1rem;
}

.footer__socials {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.footer__copyright p {
    margin-bottom: 1rem;
}
/* ========== AKHIR FOOTER ========== */
